[Desktop Entry]
Type=Application
Categories=Utility
Name=Translate_shell
Icon=/opt/Icons/translate-shell.png
Exec=xfce4-terminal -e /opt/Translate_shell/./traductor.sh
